*{
  margin:0 ;
  padding: 0;
  box-sizing:border-box ;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
html,
body{
  background-color: black;
}

.card{
  margin: 20px;
  width: 200px;
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #222;
}
.card button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #222;
  border: 2px solid white;
  border-radius: 10px;
}
.card p{
  margin-top: 20px;
}
.Parent{
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-start; /* or center */
}
.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

